<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="vn.com.irtech.irbot.business.mapper.HddvModifyDetailMapper">

	<resultMap type="HddvDetail" id="HddvModifyDetailResult">
		<result property="id" column="id" />
		<result property="hddvId" column="hddv_id" />
		<result property="fastId" column="fast_id" />
		<result property="fastDetailId" column="fast_detail_id" />
		<result property="productName" column="product_name" />
		<result property="productTaxId" column="product_tax_id" />
		<result property="productSubtotalAmount" column="product_subtotal_amount" />
		<result property="productTaxAmount" column="product_tax_amount" />
		<result property="productTotalAmount" column="product_total_amount" />
		<result property="createBy" column="create_by" />
		<result property="createTime" column="create_time" />
		<result property="updateBy" column="update_by" />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<sql id="selectHddvModifyDetailVo">
		select id, hddv_id, fast_id, fast_detail_id,
		product_name, product_tax_id,
		product_subtotal_amount, product_tax_amount,
		product_total_amount,
		create_by, create_time, update_by, update_time from
		hddv_modify_detail
	</sql>

	<select id="selectHddvModifyDetailList"
		parameterType="HddvDetail" resultMap="HddvModifyDetailResult">
		<include refid="selectHddvModifyDetailVo" />
		<where>
			<if test="hddvId != null "> and hddv_id = #{hddvId}</if>
			<if test="fastId != null  and fastId != ''"> and fast_id = #{fastId}</if>
			<if test="fastDetailId != null  and fastDetailId != ''"> and fast_detail_id = #{fastDetailId}</if>
			<if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
			<if test="productTaxId != null  and productTaxId != ''"> and product_tax_id = #{productTaxId}</if>
			<if test="productSubtotalAmount != null  and productSubtotalAmount != ''"> and product_subtotal_amount = #{productSubtotalAmount}</if>
			<if test="productTaxAmount != null  and productTaxAmount != ''"> and product_tax_amount = #{productTaxAmount}</if>
			<if test="productTotalAmount != null  and productTotalAmount != ''"> and product_total_amount = #{productTotalAmount}</if>
		</where>
	</select>

	<select id="selectHddvModifyDetailById" parameterType="Long"
		resultMap="HddvModifyDetailResult">
		<include refid="selectHddvModifyDetailVo" />
		where id = #{id}
	</select>

	<insert id="insertHddvModifyDetail" parameterType="HddvDetail">
		insert into hddv_modify_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="hddvId != null">hddv_id,</if>
			<if test="fastId != null">fast_id,</if>
			<if test="fastDetailId != null">fast_detail_id,</if>
			<if test="productName != null">product_name,</if>
			<if test="productTaxId != null">product_tax_id,</if>
			<if test="productSubtotalAmount != null">product_subtotal_amount,</if>
			<if test="productTaxAmount != null">product_tax_amount,</if>
			<if test="productTotalAmount != null">product_total_amount,</if>
			<if test="createBy != null">create_by,</if>
			<if test="createTime != null">create_time,</if>
			<if test="updateBy != null">update_by,</if>
			<if test="updateTime != null">update_time,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="hddvId != null">#{hddvId},</if>
			<if test="fastId != null">#{fastId},</if>
			<if test="fastDetailId != null">#{fastDetailId},</if>
			<if test="productName != null">#{productName},</if>
			<if test="productTaxId != null">#{productTaxId},</if>
			<if test="productSubtotalAmount != null">#{productSubtotalAmount},</if>
			<if test="productTaxAmount != null">#{productTaxAmount},</if>
			<if test="productTotalAmount != null">#{productTotalAmount},</if>
			<if test="createBy != null">#{createBy},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="updateBy != null">#{updateBy},</if>
			<if test="updateTime != null">#{updateTime},</if>
		</trim>
	</insert>

	<update id="updateHddvModifyDetail" parameterType="HddvDetail">
		update hddv_modify_detail
		<trim prefix="SET" suffixOverrides=",">
			<if test="hddvId != null">hddv_id = #{hddvId},</if>
			<if test="fastId != null">fast_id = #{fastId},</if>
			<if test="fastDetailId != null">fast_detail_id = #{fastDetailId},</if>
			<if test="productName != null">product_name = #{productName},</if>
			<if test="productTaxId != null">product_tax_id = #{productTaxId},</if>
			<if test="productSubtotalAmount != null">product_subtotal_amount = #{productSubtotalAmount},</if>
			<if test="productTaxAmount != null">product_tax_amount = #{productTaxAmount},</if>
			<if test="productTotalAmount != null">product_total_amount = #{productTotalAmount},</if>
			<if test="createBy != null">create_by = #{createBy},</if>
			<if test="createTime != null">create_time = #{createTime},</if>
			<if test="updateBy != null">update_by = #{updateBy},</if>
			<if test="updateTime != null">update_time = #{updateTime},</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="deleteHddvModifyDetailById" parameterType="Long">
		delete
		from
		hddv_modify_detail where id = #{id}
	</delete>

	<delete id="deleteHddvModifyDetailByIds" parameterType="String">
		delete from hddv_modify_detail where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>
</mapper>